apiVersion: v1
kind: Secret
metadata:
  name: app-ondemand-secret
  namespace: slurm-cluster
type: Opaque
stringData:
  GIT_SYNC_REPO: https://github.com/kubernetes/git-sync.git
  GIT_SYNC_BRANCH: master
  GIT_SYNC_USERNAME: github-user
  GIT_SYNC_PASSWORD: password
  GIT_KNOWN_HOSTS: "false"
