# Rename this file and add ".local".
# Edit the secret.
# Then use :
#
# cat secret.yml.local | kubeseal \
#   --controller-namespace sealed-secrets \
#   --controller-name sealed-secrets \
#   --format yaml > sealed-secret.yml
#
# kubectl apply -f sealed-secret.yml
apiVersion: v1
kind: Secret
metadata:
  name: slurm-secret
  namespace: slurm-cluster
type: Opaque
stringData:
  jwt_hs256.key: ''
