# Rename this file and add ".local".
# Edit the secret.
# Then use :
#
# cat secret.yml.local | kubeseal \
#   --controller-namespace sealed-secrets \
#   --controller-name sealed-secrets \
#   --format yaml > sealed-secret.yml
#
# kubectl apply -f sealed-secret.yml
apiVersion: v1
kind: Secret
metadata:
  name: sssd-secret
  namespace: slurm-cluster
type: Opaque
stringData:
  sssd.conf: |
    # https://sssd.io/docs/users/troubleshooting/how-to-troubleshoot-backend.html
    [sssd]
    services = nss,pam,sudo,ssh
    config_file_version = 2
    domains = csquare-ldap

    [sudo]

    [nss]

    [pam]
    offline_credentials_expiration = 60

    [domain/csquare-ldap]
    #debug_level = 0x3ff0   <= perfect for debugging

    id_provider = ldap
    access_provider = ldap
    cache_credentials = True

    ldap_uri = ldaps://example.com
    ldap_default_bind_dn = cn=readonly,dc=hpc,dc=csquare,dc=run
    ldap_default_authtok = password
    ldap_search_timeout = 50
    ldap_network_timeout = 60

    ldap_search_base = ou=People,dc=hpc,dc=csquare,dc=run
    ldap_group_search_base = ou=Group,dc=hpc,dc=csquare,dc=run
    ldap_sudo_search_base = ou=SUDOers,dc=hpc,dc=csquare,dc=run
    ldap_user_extra_attrs = publicSSHKey
    ldap_user_ssh_public_key = publicSSHKey

    ldap_access_order = filter
    ldap_access_filter = (objectClass=posixAccount)

    ldap_tls_cipher_suite = HIGH
    # On Ubuntu, the LDAP client is linked to GnuTLS instead of OpenSSL => cipher suite names are different
