apiVersion: v1
kind: Secret
metadata:
  name: sion-csquare-run-keys-secret
  namespace: cvmfs
type: Opaque
stringData:
  stdenv.sion.csquare.run.pub: |
    -----BEGIN PUBLIC KEY-----
    -----END PUBLIC KEY-----
  software.sion.csquare.run.pub: |
    -----BEGIN PUBLIC KEY-----
    -----END PUBLIC KEY-----
  unpacked.sion.csquare.run.pub: |
    -----BEGIN PUBLIC KEY-----
    -----END PUBLIC KEY-----
