apiVersion: v1
kind: Secret
metadata:
  name: mariadb-secret
  namespace: mariadb
type: Opaque
stringData:
  mariadb-root-password: <..>
  mariadb-replication-password: <...>
  mariadb-password: <...>
