apiVersion: v1
kind: Secret
metadata:
  name: ldap-connector-env
  namespace: ldap
type: Opaque
stringData:
  AVAX_ENDPOINT_WS: wss://testnet.deepsquare.run/ws
  METASCHEDULER_SMART_CONTRACT: '0x68A606C58fA06fF6872c80d71A71Ab7506eCa44B'

  LDAP_URL: ldaps://dirsrv-389ds.ldap.svc.cluster.local:3636
  LDAP_CA_PATH: /tls/ca.crt
  LDAP_BIND_DN: 'cn=Directory Manager'
  LDAP_BIND_PASSWORD: NqZBo67PvmckACVjYmN6d3Kj2gu5NMCd
