apiVersion: v1
kind: Secret
metadata:
  name: openldap-env-secret
  namespace: monitoring
stringData:
  LDAP_ADMIN_USERNAME: admin
  LDAP_ADMIN_PASSWORD: adminpassword
  LDAP_CONFIG_ADMIN_ENABLED: no
  LDAP_CONFIG_ADMIN_USERNAME: admin
  LDAP_CONFIG_ADMIN_PASSWORD: configpassword
  LDAP_USERS: user01,user02
  LDAP_PASSWORDS: bitnami1,bitnami2
