apiVersion: v1
kind: Secret
metadata:
  name: slurmdbd-example-conf-secret
  namespace: slurm-cluster
type: Opaque
stringData:
  slurmdbd.conf: |
    # See https://slurm.schedmd.com/slurmdbd.conf.html
    ### Main
    DbdHost=slurm-cluster-example-db-0
    SlurmUser=slurm		# [ ADMIN ONLY ] user IDs have to be identical accross the cluster, otherwise munge auth fails

    ### Logging
    DebugLevel=debug5	# optional, defaults to 'info'. Possible values: fatal, error, info, verbose, debug, debug[2-5]
    LogFile=/var/log/slurm/slurmdbd.log
    PidFile=/var/run/slurmdbd.pid
    LogTimeFormat=thread_id
    # Tested all other values mentioned in the slurmdbd.conf documentation, i.e. clock, short, iso8601, iso8601_ms, rfc5424, rfc5424_ms => none of them
    # produces any output at DebugLevel=info
    # The thread_id format is very repetitive but that's still better than no timestamp at all

    AuthAltTypes=auth/jwt
    AuthAltParameters=jwt_key=/var/spool/slurm/jwt_hs256.key

    ### Database server configuration
    StorageType=accounting_storage/mysql
    StorageHost=mysql.example.com
    StorageUser=slurmdbd
    StoragePass=mysql_password
    #StorageLoc=fake_slurm_acct_db

    ### Archive and purge
    # ArchiveDir=/archive
    # ArchiveEvents=yes
    # ArchiveJobs=yes
    # ArchiveResvs=yes
    # ArchiveSteps=no
    # ArchiveSuspend=no
    # ArchiveTXN=no
    # ArchiveUsage=yes
    # PurgeEventAfter=1month
    # PurgeResvAfter=1month
    # PurgeStepAfter=1month
    # PurgeSuspendAfter=1month
    # PurgeTXNAfter=12month
    # PurgeUsageAfter=12month
