apiVersion: v1
kind: Secret
metadata:
  name: postscript-privatekey-secret
  namespace: provisioning
type: Opaque
stringData:
  ## Create the key with:
  ## ssh-keygen -f $(pwd)/key -C grendel
  ## Encrypt with:
  ## openssl enc -aes-256-cbc -a -salt -pbkdf2 -in key -out key.enc
  key.enc: ""
