apiVersion: v1
kind: Secret
metadata:
  name: sssd-secret
  namespace: slurm-cluster
type: Opaque
stringData:
  sssd.conf: |
    [sssd]
    services = nss,pam,sudo,ssh
    config_file_version = 2
    domains = example-com

    [sudo]

    [nss]

    [pam]
    offline_credentials_expiration = 60

    [domain/example-com]
    #debug_level = 0x3ff0   <= perfect for debugging

    id_provider = ldap
    access_provider = ldap
    cache_credentials = True

    ldap_uri = ldaps://ldap.example.com
    ldap_default_bind_dn = cn=readonly,dc=example,dc=com
    ldap_default_authtok = password
    ldap_search_timeout = 50
    ldap_network_timeout = 60

    ldap_search_base = ou=People,dc=example,dc=com
    ldap_group_search_base = ou=Group,dc=example,dc=com
    ldap_sudo_search_base = ou=SUDOers,dc=example,dc=com
    ldap_user_extra_attrs = publicSSHKey
    ldap_user_ssh_public_key = publicSSHKey

    ldap_access_order = filter
    ldap_access_filter = (objectClass=posixAccount)

    ldap_tls_cipher_suite = HIGH
    # On Ubuntu, the LDAP client is linked to GnuTLS instead of OpenSSL => cipher suite names are different
