name: Test Docs deployment

defaults:
  run:
    working-directory: web

on:
  pull_request:
    branches:
      - main
      - feat/docs
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Use Node.js LTS
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: 'pnpm'
          cache-dependency-path: web/pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install
      - name: Test build website
        run: pnpm run build
